@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --hu-background: 0, 0%, 100%;
  --hu-foreground: 0, 0%, 0%;

  --hu-font-inter: var(--font-inter);
  --hu-font-jetbrains: var(--font-jetbrains-mono);

  --hu-card-background: 0, 0%, 100%;
  --hu-card-foreground: 220, 9%, 15%;

  --hu-primary: 0, 0%, 0%;
  --hu-primary-foreground: 0, 0%, 100%;

  --hu-secondary: 11, 0%, 95%;
  --hu-secondary-foreground: 222, 84%, 5%;

  --hu-accent: 11, 0%, 96%;
  --hu-accent-foreground: 222, 84%, 5%;

  --hu-destructive: 0, 84%, 55%;

  --hu-muted: 11, 0%, 96%;
  --hu-muted-foreground: 0, 0%, 45%;

  --hu-ring: 0, 0%, 70%;

  --hu-border: 11, 0%, 90%;

  /* Fumadocs */
  --color-fd-background: hsl(var(--hu-background));
}

code,
pre {
  font-family: var(--hu-font-jetbrains) !important;
}

::selection {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

[data-theme-toggle] {
  display: none;
}
